<!DOCTYPE html>
<html lang="en-us" ng-app='myApp'>
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Dependency Injection</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container" ng-controller="mainController">
            
            <div class="row">
                <div class="col-md-12">
                    
                    <input type="text" ng-model="handle" />
                    <h1>twitter.com/{{ lowerhandle() }}</h1>
                    <!--This ability to run funcitons in the view is awesome
                        I guess I kind of knew this was possible, because I did it with ng-click=""
                        in other things, but for ome reason it didn't click
                    -->
                    
                </div>
            </div>
                
		</div>
    <script src="app.js"></script>
    </body>
</html>